@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Hebrew:wght@100..900&display=swap');

@import 'tailwindcss';
/* @import '@repo/design/styles/components/index.css'; */

@theme {
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

--font-family: 'Inter', sans-serif;

/* @layer base {
  * {
    @apply outline-ring/50 border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
